
h1{
    font-family: "Roboto Mono", monospace;
}
h3{
    font-family: "Roboto Mono", monospace;
}

button{
    font-family: "Roboto Mono", monospace;
}

.mi-contenedor {
    text-align: center;
    background-color: beige;
}

.mi-contenedor #botonAgregar {
}

.mi-contenedor #listaTareas{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}


ul {
    list-style: none; /* Elimina todas las viñetas de la lista */
}

  li {
    font-family: "Roboto Mono", monospace;
    background-color:burlywood;
}

.mi-contenedor #textoTachado{
    text-decoration: line-through;
}

